@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
    background: #0F1525;
}

.hero {
    background-image: url("../images/Background.png");
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    filter: blur(15px);
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #040f2b5d;
    background: linear-gradient(to bottom, #040f2b5d, #040f2b33)
}


.content {
    text-align: center;
    max-width: 550px;
    z-index: 100;
}

.intro{
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #00A3FF, #00FFF0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.highlight {
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero-btn {
    background-color: #0B8DCD;
    border: none;
    padding: 12px 15px;
    margin-top: 25px;
    box-shadow: 0px 4px 24px 0px #4B7EFF99;
}
/* box-shadow: 4px 0px 24px 0px #4B7EFF3D; */

.hero-btn img {
    width: 66%;
}

.partners {
    z-index: 100;
    display: flex;
    width: 70%;
    margin-top: 80px;
}

.partners img {
    transform: scale(0.7);
    width: 205px;
}

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: #fff;
    gap: 3rem;
}

section.about h2 {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #00A3FF, #00FFF0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section.about p {
    font-size: 1.1rem;
    max-width: 600px;
    margin-block: 10px;
}

section.about img {
    width: 312px;
}

section.about button {
    background-color: #0B8DCD;
    border: none;
    padding: 12px 25px;
    box-shadow: 0px 4px 24px 0px #4B7EFF99;
    color: white;
    border-radius: 4px;
}

.recent-cases > h2:first-of-type {
    text-align: center;
}

.recent-cases p {
    margin-inline: auto;
    max-width: 700px;
    text-align: center;
    margin-block: 10px;
    font-size: 1.1rem;
    color: #fff;
}

.case {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    background: #060C1D;
    height: 350px;
    border-radius: 20px;
    margin-block: 40px;
    overflow: hidden;
    align-items: center;
    width: 70%;
    margin-inline: auto;
}

.case-content {
    padding: 45px 0 45px 45px;
}

.case-content p {
    color: #FFFFFFBF;
    font-size: .9rem;
    line-height: 1.5;
    max-width: 300px;
    text-align: left;
}

.case-content > img {
   width: 250px;
}

.case > img {
    width: 55%;
    height: 100%;
}

.technologies {
    display: flex;
}

.technologies img {
    scale: 0.55;
    margin-left: -10px;
   
}

.case-btn {
    border: 1px solid #00A3FF;
    padding: 10px;
    background-color: #060C1D;
    background: linear-gradient(to right, #00A3FF, #00FFF0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    border-radius: 4px;
    margin-top: 15px;
    display: flex;
    font-size: .9rem;
    align-items: center;
    gap: .7rem;
}

.case-btn img {
    width: 15px;
}

.testimonial > h2, 
.testimonial > p {
    text-align: center;
    max-width: 700px;
    margin-inline: auto;
}
.testimonial > p {
    margin-block: 10px;
    font-size: 1rem;
    color: #ffffffb6;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 80px;
    align-items: center;
}

.test {
    padding: 30px;
    text-align: center;
    max-width: 413px;
    background-color: #060C1D;
    border-radius: 10px;
}

.test .heading {
    font-size: 1rem;
}

.test img {
    width: 70px;
}

.test p {
    font-size: .8rem;
    color: #FFFFFFBF;
}

.testimonials button.test-btn {
    background-color: linear-gradient(to right, #00A3FF, #00FFF0);
    margin-inline: auto;
}

.testimonials button.test-btn img {
    width: 15px;
}

.role {
    margin: 8px 20px;
    font-size: 0.77;
}

.testimonials-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 180px;
    background-color: #00a3ff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 163, 255, 0.8); 
    transform: rotate(-180deg); 
    position: relative;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .testimonials-button:hover {
    box-shadow: 0 0 30px rgba(0, 163, 255, 1);
    transform: rotate(90deg) scale(1.05);
  }
  
  .testimonials-button span {
    display: inline-block;
    transform: rotate(-90deg); 
  }
  

  .experience > h2, 
  .experience > p {
    text-align: center;
    max-width: 700px;
    margin-block: 10px;
    margin-inline: auto;
}

.experience {
    color: #fff;
    padding-inline: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 50px;
}
.experience ul {
    padding-inline: 30px;
    font-size: .8rem;
}

.experience .hero-btn {
    margin-inline: auto;
    text-align: center;
}

.education > h2, 
.education > p {
  text-align: center;
  max-width: 700px;
  margin-block: 10px;
  margin-inline: auto;
}

.education {
    color: #FFFFFFBF;
}

.uni {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #060C1D;
    width: 70%;
    border-radius: 10px;
    margin-inline: auto;
    justify-content: space-around;
    margin-top: 30px;
    padding: 15px;
}

.uni img {
    width: 60px;
}

.uni-info span {
    display: block;
    font-size: .8rem;
}

.uni-details {
    font-size: 0.72rem;
    width: 45%;
}

.uni-btn {
    background: #0B8DCD;
    margin-inline: auto;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
}

.uni-btn img{
    width: 15px;
}

.contact {
    margin-block: 70px;
    color: #FFFFFFBF;
}

.contact > h2, 
.contact > p {
  text-align: center;
  max-width: 700px;
  margin-block: 10px;
  margin-inline: auto;
}